absl-py==2.4.0
aenum==3.1.16
aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.12.1
asttokens==3.0.1
astunparse==1.6.3
attrs==25.3.0
broken-source==0.9.1
cachetools==6.1.0
cattrs==25.2.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.1.8
colorama==0.4.6
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.20
decorator==5.2.1
depthflow==0.9.1
dill==0.4.1
diskcache==5.6.3
distro==1.9.0
dotmap==1.3.30
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.115.14
ffmpy==1.0.0
filelock==3.21.2
flatbuffers==25.12.19
fonttools==4.61.1
fsspec==2026.2.0
gast==0.7.0
glcontext==3.0.0
glfw==2.9.0
google-pasta==0.2.0
gradio==5.35.0
gradio_client==1.10.4
groovy==0.1.2
grpcio==1.80.0
h11==0.16.0
h5py==3.16.0
halo==0.0.31
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
idna==3.13
imgui-bundle==1.6.3
importlib_resources==6.5.2
intervaltree==3.1.0
ipykernel==7.2.0
ipython==8.38.0
ipywidgets==8.1.8
jax==0.4.34
jaxlib==0.4.34
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
keras==3.12.2
kiwisolver==1.4.9
largestinteriorrectangle==0.2.1
libclang==18.1.1
llvmlite==0.46.0
log-symbols==0.0.14
loguru==0.7.3
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mediapipe==0.10.14
midi2audio==0.1.1
mido==1.3.3
missingno==0.5.2
ml-dtypes==0.3.2
moderngl==5.12.0
moderngl-window==3.1.1
mpmath==1.3.0
munch==4.0.0
namex==0.1.0
narwhals==2.16.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.64.0
numpy==1.26.4
numpy-quaternion==2024.0.13
opencv-contrib-python==4.11.0.86
opencv-python-headless
openpyxl==3.1.5
opensimplex==0.4.5.1
opt_einsum==3.4.0
optree==0.19.1
ordered-set==4.1.0
orjson==3.11.7
packaging==26.2
pandas==2.3.3
parso==0.8.6
pillow==11.3.0
platformdirs==4.3.8
plotly==6.5.2
plyfile==1.1.3
pretty_midi==0.2.11
prompt_toolkit==3.0.52
protobuf==4.25.9
psutil==7.2.2
pure_eval==0.2.3
pycparser==3.0
pydantic==2.11.10
pydantic_core==2.33.2
pydub==0.25.1
pyfluidsynth==1.3.4
pyglet==2.1.13
pyglm==2.8.3
Pygments==2.20.0
PyOpenGL==3.1.10
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-multipart==0.0.22
pytimeparse2==1.7.1
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
RapidFuzz==3.14.3
regex==2026.1.15
requests==2.33.1
requests-cache==1.2.1
rich==15.0.0
ruff==0.15.1
safehttpx==0.1.7
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
semantic-version==2.10.0
shaderflow==0.9.1
shellingham==1.5.4
six==1.17.0
sortedcontainers==2.4.0
SoundCard==0.4.5
sounddevice==0.5.5
spinners==0.0.24
stack-data==0.6.3
starlette==0.46.2
stitching==0.6.1
stitching-headless==0.6.1
sympy==1.14.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
thefuzz==0.22.1
threadpoolctl==3.6.0
tokenizers==0.21.4
toml==0.10.2
tomlkit==0.13.3
torch==2.10.0+cu130
torchaudio==2.10.0+cu130
torchvision==0.25.0+cu130
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
transformers==4.53.3
turbopipe==1.2.4
typer==0.15.4
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
url-normalize==2.2.1
urllib3==2.7.0
uv==0.7.22
uvicorn==0.40.0
validators==0.35.0
watchdog==6.0.0
wcwidth==0.6.0
websockets==15.0.1
Werkzeug==3.1.8
widgetsnbextension==4.0.15
win32_setctime==1.2.0
wrapt==2.1.2
xxhash==3.5.0
